In [98]:
import pandas as pd
import numpy as np

car_sale = pd.read_csv('Online_Cars_Sale_Marketplace.csv')

car_sale = car_sale[car_sale['Price'] != 'Not Priced'] ## remove 'Not Priced' rows
car_sale['Price'] = car_sale['Price'].replace(r'[,$]', '', regex=True)  ## remove special characters $ and , 
car_sale['Price'] = car_sale['Price'].astype(int) ## change column to integer 
car_sale['Used/New'] = car_sale['Used/New'].replace(r'.*Certified.*', 'Certified', regex=True) ## change all Certified to just Certified
car_sale[car_sale['Drivetrain'] != "-"] ## remove "-" in Drivetrain column
Min = car_sale['MinMPG']
Max = car_sale['MaxMPG']
car_sale['MaxMPG'] = np.maximum(Min, Max)
car_sale['MinMPG'] = np.minimum(Min, Max) ## Fix the min and max being in the wrong column
car_sale.drop(car_sale[(car_sale['MinMPG'] == 0)&(car_sale['MaxMPG'] == 0)].index, inplace = True) ## remove rows where min and max MPG are 0 
car_sale = car_sale.drop_duplicates() ## remove duplicates
car_sale.head()

,Year,Make,Model,Used/New,Price,ConsumerRating,ConsumerReviews,SellerType,SellerName,SellerRating,...,InteriorColor,Drivetrain,MinMPG,MaxMPG,FuelType,Transmission,Engine,VIN,Stock#,Mileage
0,2019,Toyota,Sienna SE,Used,39998,4.6,45,Dealer,CarMax Murrieta - Now offering Curbside Pickup...,3.3,...,Black,Front-wheel Drive,19,27,Gasoline,8-Speed Automatic,3.5L V6 24V PDI DOHC,5TDXZ3DC2KS015402,22998646,29403
1,2018,Ford,F-150 Lariat,Used,49985,4.8,817,Dealer,Giant Chevrolet,4.8,...,Black,Four-wheel Drive,19,24,Gasoline,10-Speed Automatic,3.5L V6 24V PDI DOHC Twin Turbo,1FTEW1EG2JFD44217,22418A,32929
2,2017,RAM,1500 Laramie,Used,41860,4.7,495,Dealer,Gill Auto Group Madera,4.6,...,Black,Four-wheel Drive,15,21,Gasoline,8-Speed Automatic,5.7L V8 16V MPFI OHV,1C6RR7VT5HS842283,NG277871G,23173
3,2021,Honda,Accord Sport SE,Used,28500,5.0,36,Dealer,AutoSavvy Las Vegas,4.6,...,–,Front-wheel Drive,29,35,Gasoline,Automatic CVT,1.5L I4 16V GDI DOHC Turbo,1HGCV1F49MA038035,54237,10598
4,2020,Lexus,RX 350,Used,49000,4.8,76,Dealer,Lexus of Henderson,4.8,...,Birch,Front-wheel Drive,20,27,Gasoline,8-Speed Automatic,3.5L V6 24V PDI DOHC,2T2AZMAA8LC156270,HDT4181A,28137

Is there a premium for dealers selling their cars on this platform compared to the private sellers?

Analyze the listing price between private sellers and dealers.

In [102]:
dealer_seller = car_sale[car_sale['SellerType'] == 'Dealer']
dealer_amount = len(dealer_seller)

In [104]:
private_seller = car_sale[car_sale['SellerType'] == 'Private']
private_amount = len(private_seller)

In [106]:
dealer_avg = dealer_seller['Price'].mean()
private_avg = private_seller['Price'].mean()
print("The average selling price for dealers is:",dealer_avg)
print("The average selling price for private is:",private_avg)

The average selling price for dealers is: 39874.53004622496
The average selling price for private is: 32929.64705882353

In [108]:
dealer_seller['Price'].describe()

count      8437.000000
mean      39874.530046
std       20904.923073
min        3995.000000
25%       28995.000000
50%       36047.000000
75%       45995.000000
max      449996.000000
Name: Price, dtype: float64

In [110]:
private_seller['Price'].describe()

count        34.000000
mean      32929.647059
std       22330.977569
min        2300.000000
25%       21623.750000
50%       29450.000000
75%       40500.000000
max      122222.000000
Name: Price, dtype: float64

Based on the data there is a premium when dealers sell their cars on this platform compared to the private sellers

The average selling price for dealers is: 39874.53004622496

The average selling price for private is: 32929.64705882353

How to compare the listing prices apple-to-apple?

In [133]:
dealer_model = dealer_seller['Model'].unique()

In [135]:
private_model = private_seller['Model'].unique()

In [137]:
shared_model = []
for model in dealer_model:
    if model in private_model:
        shared_model.append(model)

In [141]:
len(shared_model)

21

In [143]:
shared_model

['Accord Sport SE',
 'E-Class E 350',
 'Odyssey EX-L',
 'Explorer Limited',
 'CX-5 Grand Touring',
 'GLC 300 Base 4MATIC',
 'XC90 T6 Momentum',
 'GLA 250 Base',
 'RAV4 Limited',
 'Veloster Turbo',
 'F-150 Raptor',
 'ES 350 Base',
 'Acadia Denali',
 'Highlander XLE',
 '1500 Limited',
 'Rover Range Rover Evoque SE Premium',
 '540 i',
 'SL-Class SL500 Roadster',
 'MKZ Base',
 'Impala LT',
 'Romeo Giulia Ti']

In [145]:
dealer_seller[dealer_seller['Model'] == 'Accord Sport SE']

,Year,Make,Model,Used/New,Price,ConsumerRating,ConsumerReviews,SellerType,SellerName,SellerRating,...,InteriorColor,Drivetrain,MinMPG,MaxMPG,FuelType,Transmission,Engine,VIN,Stock#,Mileage
3,2021,Honda,Accord Sport SE,Used,28500,5.0,36,Dealer,AutoSavvy Las Vegas,4.6,...,–,Front-wheel Drive,29,35,Gasoline,Automatic CVT,1.5L I4 16V GDI DOHC Turbo,1HGCV1F49MA038035,54237,10598

In [147]:
private_seller[private_seller['Model'] == 'Accord Sport SE']

,Year,Make,Model,Used/New,Price,ConsumerRating,ConsumerReviews,SellerType,SellerName,SellerRating,...,InteriorColor,Drivetrain,MinMPG,MaxMPG,FuelType,Transmission,Engine,VIN,Stock#,Mileage
2428,2017,Honda,Accord Sport SE,Used,18950,4.8,572,Private,Richard,4.5,...,Black,Front-wheel Drive,23,32,Gasoline Fuel,M/T,189.0HP 2.4L 4 Cylinder Engine Gasoline Fuel,1HGCR2E17HA269877,–,72000